/* Seção dos tutoriais */
.tutorial {
    background: #f9f9f9;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.tutorial h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.tutorial p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.tutorial ul {
    list-style-type: disc;
    padding-left: 20px;
}

.tutorial ul li {
    margin-bottom: 8px;
}
